@import "./../p.less";
@import "../base.less";
.work {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;


    .work-content {
        .h;
        display: flex;

        .menu {
            width: 144px;
            color: #4E5969;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tab-up {
                height: auto;
                flex-direction: column;
                .flex-center;
                justify-content: space-between;

                // 头像
                .avatar {
                    .w;
                    height: 150px;
                }

                // 按钮
                >.tab-menu {
                    height: auto;

                    >div {
                        flex: 1;
                        .flex-column-center;
                        height: 52px;

                        >div {
                            min-height: 32px;
                            font-size: 12px;
                            width: 112px;
                            .flex-column-center;
                            justify-content: flex-start;

                            >i {
                                font-size: 20px;
                                margin-left: 12px;
                            }

                            >p {
                                margin-left: 8px;
                            }

                            &:hover {
                                border-radius: 4px;
                                opacity: 0.6;
                                background: linear-gradient(90deg, #257AFF 0%, rgba(106, 140, 154, 0.89) 100%);
                                color: white;
                            }
                        }
                    }
                }


                >.tab-menu >div:last-child{
                    border-top: 1px solid #E5E6EB;
                }

                // 选中样式
                .selected-menu {
                    border-radius: 4px;
                    background: @cBgc-B-b;
                    color: white;

                    &:hover {
                        opacity: 1;
                        background: @cBgc-B-a;
                    }
                }


            }


            .tab-lower {
                height: 5%;
                .flex-center;

                .set-up {
                    .h;
                    width: 70%;
                    .flex-center;
                    .flex-column-center;
                    justify-content: flex-start;

                    >i {
                        font-size: 20px;
                    }

                    >p {
                        font-size: 14px;
                        margin-left: 9.73px;
                    }

                    &:hover {
                        .iconfont;
                    }
                }
            }
        }

        .coms {
            .full;
            // min-width: 1776px;
            overflow: hidden;
        }
    }

}